bin/Debug/netcoreapp2.1/GatewayGraph.deps.json
bin/Debug/netcoreapp2.1/GatewayGraph.dll
bin/Debug/netcoreapp2.1/GatewayGraph.pdb
bin/Debug/netcoreapp2.1/GatewayGraph.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/GatewayGraph.runtimeconfig.json
bin/Debug/netcoreapp2.1/Properties/launchSettings.json
obj/GatewayGraph.csproj.nuget.cache
obj/GatewayGraph.csproj.nuget.dgspec.json
obj/GatewayGraph.csproj.nuget.g.props
obj/GatewayGraph.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/GatewayGraph.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/GatewayGraph.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/GatewayGraph.assets.cache
obj/Debug/netcoreapp2.1/GatewayGraph.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/GatewayGraph.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/GatewayGraph.dll
obj/Debug/netcoreapp2.1/GatewayGraph.pdb
obj/Debug/netcoreapp2.1/GatewayGraph.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.1/GatewayGraph.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.1/GatewayGraph.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.1/project.razor.json
